 

    <h1 >Shopping list</h1> 


  <div>
    <p>Amount of food items: <%= @ingredients.count %> </p>
    <p>Total value of food needed: <%= @total_price %>$
     </p>
  </div>

 <div> 
  <div>
    <div >Food</div>
    <div>Quantity </div>
    <div>Price </div>

  </div>

  <% @ingredients.each do |recipe_food| %>
  <% food = Food.find(recipe_food.food_id) %>
  <div>
  <div >
    <div> <%= Food.find(recipe_food.food_id).name %> </div>
    <div> <%= recipe_food.quantity %> <%= food.measurement_unit %></div>
    <div><%= Food.find(recipe_food.food_id).price * recipe_food.quantity%> $</div>
  </div>
   </div>
  <% end %>
  </div>