<p style="color: green"><%= notice %></p>

<%= render @food_table %>

<div>
  <%= link_to "Edit", edit_food_table_path(@food_table) %> |
  <%= link_to "Back to tables", food_tables_path %>

  <%= button_to "Delete", @food_table, method: :delete %>
</div>
