<div>
  <div>
     <h1>Recipes</h1>
     <div>
      <%= link_to 'Add Recipe', new_recipe_path(@recipe) %>
    </div>
    <% @recipes.each do |recipe| %>
        <div>
          <h2 ><%= recipe.name %></h2>
          <p><%= recipe.description %></p>
          <ul>
            <li class=""><%= link_to 'Show', recipe_path(recipe)%></li>
            <li class="ml-5"><%= button_to 'Delete', recipe_path(recipe), method: :delete %></li>
          </ul>
        </div>
    <% end %>
   </div>
</div>