<div>
  <h1>Recipe List</h1>
  <%= link_to 'Add Food', recipes_path %>
  <% if @recipes.empty? %>
    <p>No foods added yet</p>
  <% else %>
  <% @recipes.each do |recipe| %>
    <div>
      <p><%= recipe.name %></p>
      <p><%= recipe.measurement_unit %></p>
      <p><%= recipe.price %></p>
      <p><%= button_to 'Delete', food_path(recipe), method: :delete %></p>
    </div>
  <% end %>
  <% end %>
</div>